/* .App {
  display: flex;
  /* justify-content: center; */
/* } */
.container {
  display: flex;
  justify-content: center;
  
}

.div-esquerda {
  width: calc((100% - 600px) / 2);
  background-color: white;
  display: flex;
  justify-content: flex-end;
  
}

/* dentro da div-esquerda */
.botao-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.botao-lista li {
  margin-bottom: 10px;
}

.botao-twitter,
.botao-explorar,
.botao-seguindo {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

.botao-twitter {
  color: #1DA1F2;
  font-size: 50px;
}

.botao-twitter i,
.botao-explorar i,
.botao-seguindo i {
  margin-right: 10px;
  
}

.botao-explorar i {
  font-size: 24px;
}

.botao-seguindo i {
  font-size: 22px;
  margin-right: 12px;
}


.botao-explorar:hover,
.botao-seguindo:hover {
  background-color: #ddd;
}




.tres-icones {
  margin-right: 20px;
}
/* fim da div-esquerda */


.main-content-wrapper {
  flex: 1;
  overflow-y: auto; /* habilita a rolagem somente se o conteúdo exceder a altura disponível */
}



.div-central {
  background-color: white;
  margin: 0 auto;
  width: 600px;

  border-left: 2px solid rgba(226, 226, 226, 0.555);
  border-right: 2px solid rgba(226, 226, 226, 0.555);
  
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
